.registrationForm {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
}

.registrationForm div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.registrationForm div label {
  font-size: 14px;
  margin-left: 6px;
}

.registrationForm div input,
select {
  width: 100%;
  font-size: 20px;
  padding: 6px 4px;
  border: none;
  border-radius: 8px;
  height: 48px;
  box-shadow: -1px 1px 4px #000;
}

.registrationForm div:first-child label {
  display: flex;
  align-items: center;
  gap: 12px;
  align-self: flex-end;
  margin-right: 10px;
}

.registrationForm div:first-child input[type="checkbox"] {
  width: 18px;
  box-shadow: unset;
}

.registrationForm button {
  font-size: 40px;
  padding: 4px 20px;
  border: none;
  border-radius: 8px;
  background-color: var(--linkText);
  color: var(--textPrimary);
  box-shadow: -1px 1px 6px var(--background);
  margin-top: 2rem;
}

.registrationForm button:active {
  box-shadow: unset;
  background-color: var(--bannerBackground);
  color: var(--linkText);
}
