@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --background: #2a2829;
  --backgroundDark: #1e1e1e;
  --inputBackground: #d9d9d9;
  --bannerBackground: #262f4c;
  --linkText: #6d7db2;
  --textPrimary: #f9f9f9;
  --textSecondary: #8999af;
  --buttonPrimary: #040b22;
  --buttonSecondary: #8999af;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: unset;
  text-decoration: none;
}

body {
  min-height: 100dvh;
  width: 100vw;
  max-width: 1200px;
  font-family: "Inter", sans-serif;
  background-color: var(--buttonSecondary);
  scroll-behavior: smooth;
  margin: 0 auto;
}

#root {
  min-height: 100dvh;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  position: relative;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 8px var(--linkText);
  position: sticky;
  top: 0;
  background-color: var(--textSecondary);
  z-index: 1001;
}

header img.header-logo {
  width: 8rem;
}

header button.logout-button {
  background-color: transparent;
  box-shadow: unset;
  border: none;
  padding-right: 1rem;
  font-size: 1.2rem;
  color: var(--buttonPrimary);
  text-decoration: underline;
}

main {
  flex: 1;
  padding: 1rem 1rem 5rem 1rem;
  width: 100%;
  max-width: 1200px;
}

button {
  background-color: var(--linkText);
  color: var(--textPrimary);
  box-shadow: -1px 1px 6px var(--background);
}

button:active {
  box-shadow: unset;
  background-color: var(--bannerBackground);
  color: var(--linkText);
}
