.exportHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem auto;
  padding-inline: 14px;
}

.exportHeader h3 {
  font-size: 2rem;
  color: var(--buttonPrimary);
}
.exportHeader button {
  background-color: transparent;
  box-shadow: unset;
  border: none;
  font-size: 2rem;
  color: var(--bannerBackground);
}

.exportData {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.exportMachine {
  padding: 10px 8px;
  border: 3px solid var(--bannerBackground);
  border-radius: 8px;
  box-shadow: -1px 1px 6px #333;
  background-color: var(--linkText);
  color: var(--textPrimary);
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.exportMachine strong {
  margin-bottom: 10px;
  color: var(--bannerBackground);
  font-weight: 800;
  font-size: 22px;
  display: flex;
  justify-content: space-between;
}
.exportMachine strong svg {
  color: var(--buttonPrimary);
}
