.homePageHeader {
  display: flex;
  justify-content: center;
}

.machineFormHome {
  width: 80%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: auto;
}

.machineFormHome div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.machineFormHome input,
select {
  width: 100%;
  height: 3rem;
  border: none;
  border-radius: 8px;
  box-shadow: -1px 1px 6px #000;
  color: var(--background);
  font-size: 20px;
  padding: 4px;
}

.machineFormHome div textarea {
  resize: none;
  width: 100%;
  height: 12rem;
  border: none;
  border-radius: 8px;
  box-shadow: -1px 1px 6px #000;
  font-size: 18px;
  padding: 8px;
}

.machineFormHome button {
  font-size: 2.4rem;
  padding: 10px 0;
  border: none;
  border-radius: 8px;
  margin: 2rem 0;
}
