.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 90%;
  max-width: 900px;
  margin: 5rem auto;
  box-shadow:
    -1px 4px 16px var(--linkText),
    2px -1px 12px var(--linkText);
  border-radius: 12px;
  padding: 3rem 0;
}

.loginForm div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.loginForm div label {
  font-size: 14px;
  margin-left: 4px;
  margin-bottom: 2px;
  width: 80%;
  margin: 0 auto 0 auto;
}

.loginForm div input {
  font-size: 20px;
  height: 44px;
  border: none;
  border-radius: 8px;
  padding: 4px;
  width: 80%;
  margin: 0 auto;
}

.loginForm button {
  font-size: 34px;
  padding: 5px 40px;
  border: none;
  border-radius: 8px;
}
