.cardHeader {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 1rem auto;
  padding-bottom: 1.5rem;
  border-bottom: 2px solid var(--linkText);
}
.cardHeader button {
  background-color: transparent;
  box-shadow: unset;
  border: none;
  font-size: 1.8rem;
  color: var(--buttonPrimary);
}

.cardHeader button.completeMachine {
  color: darkgreen;
}
.cardHeader button.trashMachine {
  color: darkred;
}
.cardHeader button.recycleMachine {
  color: lightgoldenrodyellow;
}

.machineCardEditForm {
  margin: 2.8rem auto;
}

.machineCardEditForm ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.machineCardEditForm ul li {
  color: var(--textPrimary);
  background-color: var(--linkText);
  padding: 12px 8px;
  border-radius: 8px;
}
.machineCardEditForm ul li p {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  padding-inline: 10px;
  font-weight: 600;
  color: var(--bannerBackground);
}
.machineCardEditForm ul li p span {
  font-weight: 400;
  color: var(--textPrimary);
}

.machineCardEditForm ul li label {
  margin-left: 4px;
}
.machineCardEditForm ul li input,
select {
  width: 100%;
  height: 44px;
  border-radius: 8px;
  font-size: 18px;
  padding: 4px;
}

.machineCardEditForm ul button[type="submit"] {
  font-size: 24px;
  padding-block: 12px;
  align-self: center;
  width: 80%;
  background-color: var(--bannerBackground);
  border-radius: 8px;
}

.notesBlock {
  margin: 3rem auto 2rem auto;
}

.notesBlock h3 {
  background-color: var(--bannerBackground);
  color: var(--textPrimary);
  padding: 12px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
}

.notesBlock h3 button {
  background-color: transparent;
  border: none;
  box-shadow: unset;
  font-size: 1.6rem;
  color: var(--linkText);
}

.notesBlock ul {
  list-style-type: none;
  padding: 12px;
  background-color: var(--linkText);
  color: var(--inputBackground);
}
.notesBlock ul li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--textPrimary);
  padding-top: 14px;
}
.notesBlock ul li:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.notesBlock ul li > div p {
  font-weight: 600;
  color: var(--bannerBackground);
}
.notesBlock ul li > div p:last-child {
  font-style: italic;
}

.addNote form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 12px;
}
.addNote form textarea {
  width: 100%;
  height: 7rem;
  resize: none;
  font-size: 18px;
  border-radius: 8px;
  padding: 6px;
}

.addNote form button {
  background-color: var(--bannerBackground);
  color: var(--textPrimary);
  padding: 10px 24px;
  font-size: 20px;
  border-radius: 6px;
}
