.machineTableContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.machineTableHeader {
  margin: 1rem auto;
}

.machineTableHeader > div.tableController {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.machineTableHeader > div.tableController > div.paginator {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.machineTableHeader > div.tableController > div.paginator button {
  background-color: transparent;
  box-shadow: unset;
  padding: 4px 6px;
  border-radius: 4px;
  background-color: var(--buttonPrimary);
}
.machineTableHeader > div.tableController > div.paginator button:disabled {
  background-color: transparent;
  color: var(--linkText);
}

.machineTableUserSelect {
  width: fit-content;
  font-size: 14px;
  height: 40px;
  background-color: transparent;
  box-shadow: unset;
  text-decoration: underline;
  border: 3px solid var(--linkText);
}

ul.machineList {
  list-style-type: none;
  width: 90%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

ul.machineList li {
  display: flex;
  flex-direction: column;
  gap: 18px;
  background-color: var(--bannerBackground);
  color: var(--textPrimary);
  border: 3px solid var(--linkText);
  border-radius: 8px;
  padding: 12px 2px 20px 10px;
  box-shadow: -1px 1px 6px var(--backgroundDark);
}

ul.machineList li h2 {
  font-size: 1.2rem;
}
ul.machineList li h2 small {
  font-size: 16px;
  font-weight: 500;
  color: var(--buttonSecondary);
}

ul.machineList li div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

ul.machineList li div p {
  font-weight: 600;
}

ul.machineList li div p span {
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
}

small.machineAuthor {
  margin-top: 0.5rem;
  font-weight: 700;
  text-decoration: underline;
  color: var(--textSecondary);
}

ul.machineList li:active {
  box-shadow: unset;
  background-color: var(--linkText);
  transform: translate(-1px, 1px);
  color: var(--bannerBackground);
}
