select.applianceCat {
  width: 80%;
  text-align: center;
  background-color: transparent;
  border: 1px solid var(--linkText);
  box-shadow:
    inset -1px -1px 3px #444,
    inset 1px 1px 8px #111;
  color: var(--textPrimary);
  height: 60px;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

select.applianceCat option {
  background-color: var(--buttonPrimary);
  font-size: 1.5rem;
}
