.navbar {
  width: 90%;
  border: 1px solid;
  position: fixed;
  bottom: 2%;
  /* left: 0;
  right: 0; */
  height: 4rem;
  background-color: var(--linkText);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  border-radius: 12px;

  z-index: 10000;

  box-shadow:
    1px -1px 12px #000,
    -1px 1px 14px #222;
}

.navbar button {
  font-size: 1.6rem;
  flex: 1;
  border: 1px solid var(--buttonPrimary);
  box-shadow: unset;
}

.navbar button.active {
  background-color: var(--bannerBackground);
  box-shadow: inset -1px -1px 4px var(--textSecondary);
}

.navbar button:first-child {
  border-radius: 12px 0 0 12px;
}
.navbar button:last-child {
  border-radius: 0 12px 12px 0;
}
