form.partsForm {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

form.partsForm fieldset {
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

form.partsForm button[type="submit"] {
  font-size: 22px;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: 700;
  border: none;
}
