.userSelect {
  width: 80%;
  margin: 1rem auto;
}

.metricsDateSelect {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 1rem auto 1.8rem auto;
  justify-content: space-between;
}
.metricsDateSelect > div:first-child {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0.5rem auto 1.5rem auto;
  border-radius: 8px;
  box-shadow: -1px 1px 6px #000;
}
.metricsDateSelect button {
  font-size: 16px;
  border: 1px solid var(--textPrimary);
  padding: 8px;
  font-weight: 600;
  width: 100%;
  box-shadow: unset;
  background-color: var(--bannerBackground);
}
.metricsDateSelect button:first-child {
  border-radius: 8px 0 0 8px;
}
.metricsDateSelect button:last-child {
  border-radius: 0 8px 8px 0;
}
.metricsDateSelect button:disabled {
  color: var(--inputBackground);
  background-color: var(--buttonPrimary);
}

.metricsDateSelect div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.metricsDateSelect div label {
  font-size: 12px;
}
.metricsDateSelect div input {
  font-size: 16px;
  height: 28px;
  width: 80%;
}

/*DATA SECTION*/

.metricsData {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-top: 2px solid var(--linkText);
  padding-top: 2rem;
}

.metricsData ul {
  width: 100%;
  border: 1px solid var(--bannerBackground);
  border-radius: 6px;
  background-color: var(--linkText);
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 6px;
  box-shadow: inset 1px 1px 3px #444, inset -1px -1px 4px #000;
}

.metricsData ul p:first-child {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.metricsData ul p:not(:first-child) {
  color: var(--linkText);
  font-size: 16px;
}

.metricsData ul p.machineListDate {
  font-size: 11px;
  color: var(--textPrimary);
}

.metricsData ul li {
  border: 1px solid var(--bannerBackground);
  border-radius: 4px;
  width: 100%;
  color: var(--textPrimary);
  background-color: var(--bannerBackground);
  padding: 4px 0 8px 4px;
  box-shadow: -1px 1px 6px #333;
}

.metricsData ul > li:first-child {
  border: none;
  background-color: transparent;
  box-shadow: unset;
}

.metricsData ul li p:first-child span {
  margin-right: 10px;
  color: var(--linkText);
  font-size: 1.4rem;
}

ul.completedMachines {
  background-color: darkgreen;
}
ul.completedMachines li {
  background-color: rgb(19, 83, 14);
  color: rgb(94, 196, 94);
  border: 1px solid greenyellow;
}
ul.completedMachines li p {
  color: var(--textPrimary) !important;
}

ul.trashedMachines {
  background-color: darkred;
}
ul.trashedMachines li {
  background: rgb(131, 5, 5);
  color: rgb(255, 74, 74);
  border: 1px solid rgb(253, 51, 51);
}
ul.trashedMachines li p {
  color: var(--textPrimary) !important;
}

.printMetricsButton {
  font-size: 2rem;
  background-color: var(--linkText);
  color: var(--textPrimary);
  padding: 8px;
  border-radius: 8px;
  box-shadow: -1px 1px 6px #333;
  margin: 2rem auto;
  width: 100%;
}

.metricsTitle {
  display: none;
}

@media print {
  body * {
    visibility: hidden !important;
    color: #000 !important;
  }

  .metricsData,
  .metricsData * {
    visibility: visible !important;
    color: #000 !important;
    border-color: #000 !important;
  }

  .metricsTitle {
    display: block;
  }
  .metricsData {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    color: #000 !important;
  }

  .metricsData ul li p {
    color: #000 !important;
  }

  .printMetricsButton {
    display: none !important;
  }

  svg.gotomachine {
    display: none;
  }

  * {
    background: none !important;
    box-shadow: none !important;
  }
}
